.title {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: grid;
    margin: auto;
    height: 500px;
    width: 500px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(35, 38, 82);
}

.cell {
    display: flex;
    background-color: rgb(109, 128, 211);
    border-radius: 8px;
    border: 6px solid rgb(35, 38, 82);
    font-size: 100px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items: center;
}

.playerInput {
    display: flex;
    margin: 15px;
    justify-content:space-evenly;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button-container {
    text-align: center;
}

.clear {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px;
    padding: 5px 10px 5px 10px;
}